<mat-card>
  <form method="post" (ngSubmit)="onSubmit()" [formGroup]="form">
    <mat-card-title>Proposer un service</mat-card-title>
    <mat-form-field *ngIf="categories$ | async as categories">
      <mat-label>Type de service</mat-label>
      <mat-select formControlName="category" name="categorie">
        <mat-option *ngFor="let categorie of categories" [value]="categorie"
          >{{categorie.name}}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="name" matInput type="text" placeholder="Nom" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea
        formControlName="description"
        matInput
        cdkTextareaAutosize
        placeholder="Décrivez-vous et votre service en quelques mots"
      ></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Prix estimé</mat-label>
      <input
        formControlName="price"
        matInput
        type="number"
        placeholder="nombre entier svp"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Rayon d'action</mat-label>
      <input
        formControlName="maxDistance"
        matInput
        type="number"
        placeholder="distance max en km"
      />
    </mat-form-field>
    <button type="submit" mat-raised-button color="accent">Valider</button>
  </form>
  <button (ngClick)="demo()">demo</button>
</mat-card>
