<mat-toolbar>
  <span>Proposer un service</span>
</mat-toolbar>
<mat-card>
  <form method="post" (ngSubmit)="onSubmit()" [formGroup]="form">
    <mat-form-field *ngIf="categories$ | async as categories">
      <mat-label>Type de service</mat-label>
      <mat-select formControlName="category" required name="categorie">
        <mat-optgroup *ngFor="let domain of categories" [label]="domain.name"
          ><mat-option
            *ngFor="let categorie of domain.categories"
            [value]="categorie"
            >{{categorie.name}}</mat-option
          >
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input
        formControlName="name"
        required
        matInput
        type="text"
        placeholder="Nom"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea
        formControlName="description"
        required
        matInput
        cdkTextareaAutosize
        placeholder="Décrivez-vous et votre service en quelques mots"
      ></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Prix estimé</mat-label>
      <input
        formControlName="price"
        required
        matInput
        type="number"
        placeholder="nombre entier svp"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Rayon d'action</mat-label>
      <input
        formControlName="maxDistance"
        required
        matInput
        type="number"
        placeholder="distance max en km"
      />
    </mat-form-field>
    <button type="submit" mat-raised-button color="accent">Valider</button>
  </form>
</mat-card>
