@media all {
    #proposal-list {
        display: flex;
        flex-wrap: wrap;
    }

    #proposal-list > app-proposal-item {
        flex: calc(100% / 3);
        max-width: calc(100% / 3);
    }
}

@media all and (max-width: 600px) {
    #proposal-list {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #proposal-list > app-proposal-item {
        flex: 100%;
        max-width: inherit;
    }
}

