<div id="titre">
  <h1>{{title}}</h1>
</div>

<mat-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field>
          <mat-icon>search</mat-icon>
          <input class="md-6"
          matInput 
          type="string" 
          formControlName="searchQuery"  
          required
          placeholder=""/>
      </mat-form-field>
      <button mat-button type="submit">search</button>
  </form>
</mat-card>

<div *ngIf="proposals.length > 0">
  <div *ngFor="let proposal of proposals">
    <mat-card>{{proposal.name}}</mat-card>
  </div>
</div>

<app-google-map *ngIf="proposals$ | async as proposals" [proposals]="proposals"></app-google-map>
  
<div id="category-list" *ngIf="categories$ | async as categories">
  <app-category-list *ngFor="let category of categories" [category]="category"></app-category-list>
</div>

<app-introduction-text></app-introduction-text>