<div id="titre">
  <h1>{{title}}</h1>
</div>

<mat-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-icon>search</mat-icon>
      <input
        class="md-6"
        matInput
        type="string"
        formControlName="searchQuery"
        required
        placeholder=""
      />
    </mat-form-field>
    <button mat-button type="submit">search</button>
  </form>
</mat-card>



<div id="elastic-results" *ngIf="proposals.length > 0">
  <div *ngFor="let proposal of proposals">
    <app-proposal-list
        [proposals]="proposals"
        [showContactButtons]="true">
    </app-proposal-list>
  </div>
</div>

<div id="category-list" *ngIf="categories$ | async as categories">
  <app-category-list
    *ngFor="let category of categories"
    [category]="category"
  ></app-category-list>
</div>
<div id="map">
  <app-google-map
    *ngIf="proposals$ | async as proposals"
    [proposals]="proposals"
    [connectedUser]="connectedUser"
  ></app-google-map>
</div>

<app-introduction-text></app-introduction-text>
