#main{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    margin: 40px;
    justify-content: center;
}

#cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: center;
    padding: 20px;
    margin: 40px;
}

#titre{
    margin: 20px auto 20px auto;
    font: bold;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    text-shadow: bisque;
    text-align: center;
}



#card{
    padding : 10px;
    margin: 20px;
    border: 3px solid;
    text-align: center;

}

.card-title{
    font-size: 20px;
    text-align: center;
}

@media all {
    #category-list {
        display: flex;
        flex-wrap: wrap;
    }
    #category-list > app-category-list {
        flex: calc(100% / 3);
    }
}

@media all and (max-width: 459px) {
    #category-list {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    #category-list > app-category-list {
        flex: 100%;
    }
}

app-google-map {
    margin: atuo;
}




#elastic-results {
    display: flex;
    flex-wrap: wrap;
}

#elastic-results > app-proposal-item {
    flex: calc(100% / 3);
}
