<div id="main" *ngIf="(provider | async) as user">
    <div class="user-card {{user.premium ? 'premium-card' : ''}}">
        <div class="pro-badge" *ngIf="user.premium">PRO</div>
        <div>
            <img [src]="'./assets/images/' + (user.image || 'default.jpg')" class="profile-picture" alt="">
            <div class="mt-3 card-title user-name">{{user.firstName}} {{user.lastName}}</div>
        </div>
        <div class="user-city">
            <mat-icon
                    class="material-icons color_grey"
                    aria-hidden="false"
                    aria-label="city">home</mat-icon>
            <strong>{{ user.city }}</strong>
        </div>
        <span class="ratings-container">Note des utilisateurs
            <app-one-star-rating [ratings]="user.globalRating"></app-one-star-rating>
        </span>
        <div *ngIf="userActivity | async as activity" class="mt-4">
            <div>Annonces actives: {{activity.userProposals.length}}</div>
            <div>Services rendus: {{activity.userPrestations.length}}</div>
            <div>Services demandés: {{activity.userDemands.length}}</div>
        </div>
    </div>

    <div class="chat-box-section" *ngIf="myUserId != userId">
        <h2 *ngIf="provider | async as prov">Contacter {{prov?.firstName}} {{prov?.lastName}}</h2>
        <div *ngIf="shouldShowChatBox; else chatBoxHidden" class="mb-1">
            <div #chatBox class="chat-box-container"></div>
        </div>
        <span class="badge badge-info">{{messageUnderChat}}</span>
        <p class="small mt-1" style="color:grey">Cette messagerie instantanée est privée. Seuls votre interlocuteur et
            vous pourront lire les messages échangés.
            Veuillez rester courtois et respectueux lors de vos échanges. <a href="">Signalez</a> tout éventuel
            comportement incorrect.</p>
    </div>
</div>

<ng-template #chatBoxHidden>
    <div *ngIf="myUserId == null" class="chat-box-placeholder">
        <p>Vous devez être connecté(e) pour accéder à la messagerie en directe.</p>
        <p><a routerLink="/auth/signup">Créer mon compte.</a></p>
    </div>
</ng-template>
