#main {
    display: flex;
    align-items: stretch;
}

#titre{
    font-weight: bold;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    text-shadow: bisque;
    text-align: center;
}

.user-card {
    margin: 30px;
    width: 280px !important;
    min-width: 300px;
    box-shadow: inset 2px 3px 11px #00000029;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding-bottom: 26px;
}

.profile-picture {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.premium-card {
    border: 1px solid gold;
    box-shadow: 0 0 7px 0 #ffd70042;
}

.chat-box-section {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: 30px;
}

.chat-box-container {
    width: 100%;
    min-width: 400px;
}

.chat-box-placeholder {
    height: 100%;
    text-align: center;
    background: rgba(128, 128, 128, 0.1);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-city {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: flex-end;
    align-self: center;
}

.card-title {
    padding: 0 16px;
    font-size: large;
    font-weight: bolder;
    margin-top: 10px;
}

.pro-badge {
    position: absolute;
    font-size: 15px;
    background: linear-gradient(0deg, #ffc107, #ffd023);
    color: white;
    border-radius: 4px;
    padding: 2px 8px;
    cursor: default;
    display: inline-block;
    margin-bottom: 8px;
    z-index: 100;
    font-weight: bold;
}
