article {
    margin: 10px;
    position: relative;
}

:host {
    scroll-margin: 10px;
}

.shadow-element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 0 8000px #00000040;
    opacity: 0;
    transition: opacity 400ms;
    z-index: 0;
    pointer-events: none;
    border-radius: 8px;
}

.on-top {
    z-index: 100;
}

article.focused .shadow-element {
    opacity: 1;
}

.proposal-description {
    height: 80px;
    overflow: auto;
    font-size: smaller;
}

.material-icons.color_yellow {
    color: yellow;
}

.material-icons.color_grey {
    color: #bccbda;
}

.space-right {
    margin-right: 20px;
    margin-left: 5px;
}

.profile-picture {
    width: 100%;
    margin: 0;
    max-height: 250px;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 8px;
    padding: 0;
    overflow: hidden;
}

a {
    padding: 0;
}

.card-body {
    padding: 16px;
}

.card-title {
    padding: 0 16px;
    font-size: large;
    font-weight: bolder;
    margin-top: 10px;
}

.premium-user {
    border-color: gold;
    box-shadow: 0 0 3px 0 gold;
}

.pro-badge {
    position: absolute;
    font-size: 15px;
    background: linear-gradient(0deg, #ffc107, #ffd023);
    color: white;
    border-radius: 4px;
    padding: 2px 8px;
    cursor: default;
    display: inline-block;
    margin-bottom: 8px;
    z-index: 100;
    font-weight: bold;
}

.category-name {
    font-size: 13px;
    background: linear-gradient(45deg, #3c948a, #7656c4);
    color: white;
    border-radius: 4px;
    padding: 1px 6px;
    cursor: default;
    display: inline-block;
    margin-bottom: 8px;
}

.ratings {
    text-align: center;
    margin-top: 0;
    transform: translate(0, -27px);
    height: 0;
}

.user-city {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: flex-end;
}

.price {
    text-align: center;
    font-size: large;
    margin: 10px 0 12px 0;
}

.price-detail {
    font-size: small;
    color: grey;
}
