<article>
    <mat-card>
        <a [routerLink]="['../../user', proposal.provider.id]">
            <img [src]="proposal.provider.image || './assets/images/default.png'"
                [alt]="proposal.provider.firstName"
                mat-card-image
                loading="lazy"/>
        </a>
        <mat-card-title>
            <a [routerLink]="['../../user', proposal.provider.id]">{{proposal.provider.firstName}} {{proposal.provider.lastName}}</a>
        </mat-card-title>
        <mat-card-content>
            <mat-icon aria-hidden="false" aria-label="city">home</mat-icon>
            <p>{{proposal.provider.city}}</p>
            <div class="proposal-decription">{{proposal.description}}</div>
            <p>{{proposal.provider.globalRating}}</p>
            <p>{{proposal.price | currency:'EUR'}}</p>
        </mat-card-content>
    </mat-card>
</article>