<mat-toolbar>
    <span>M'identifier</span>
</mat-toolbar>
<div class="form-group" style="padding:3%">
    <div class="form-group">
        <label for="login">Identifiant</label>
        <input type="text" class="form-control" id="login" [(ngModel)]="login"/>
    </div>
    <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" class="form-control" [(ngModel)]="password" id="password"/>
    </div>
    <div class="form-group">
        <input type="button" class="btn btn-primary mr-1" (click)="onLogin()" id="btnSearch" value="Envoyer"/>
    </div>
    <div style="padding: 10px" *ngIf="errorMessage && errorMessage.length > 0">
        <span class="alert alert-danger" id="msg">{{errorMessage}}</span>
    </div>
    <a href="" routerLink="../signup">Créer un compte</a>
</div>
