<div>
    <mat-toolbar>
        <span>Les Services</span>
    </mat-toolbar>
    <div class="filters">
        <h4>Je recherche...</h4>
        <app-category-selector (categoryChanged)="handleCategoryChange($event)"></app-category-selector>
    </div>
    <app-proposal-list *ngIf="proposals$ | async as proposals; else proposalsLoading"
        [proposals]="proposals"
        [showContactButtons]="true">
    </app-proposal-list>
    <ng-template #proposalsLoading>
        <div class="center">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
    </ng-template>
</div>
