<div class="text-center mt-4">
    <h3>Mes annonces</h3>
    <div id="flexCategories" class="d-flex flex-row justify-content-center">
        Il n'y a rien à afficher.
    </div>

    <hr class="mt-2 mb-3">

    <h3>Demandes reçues</h3>
    <div id="myDemands" class="container mt-3 mb-4">
        <div class="row table-header">
            <div class="col-sm">Statut</div>
            <div class="col-sm">Service</div>
            <div class="col-sm">Client</div>
            <div class="col-sm">Début</div>
            <div class="col-sm">Fin</div>
            <div class="col-sm">Prix</div>
            <div class="col-sm">Avis reçu</div>
        </div>
    </div>

    <hr class="mt-2 mb-3">

    <h3>Demandes envoyées</h3>
    <div id="myPrestations" class="container mt-3 mb-4">
        <div class="row table-header">
            <div class="col-sm">Statut</div>
            <div class="col-sm">Service</div>
            <div class="col-sm">Prestataire</div>
            <div class="col-sm">Début</div>
            <div class="col-sm">Fin</div>
            <div class="col-sm">Prix</div>
            <div class="col-sm">Votre avis</div>
        </div>
    </div>
</div>
