/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

html,
body {
    height: 100%;
}

#main-section {
    padding: 8px 20px;
    width: 100%;
    flex-shrink: 1;
    flex-grow: 1;
    overflow: auto;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    _color: dimgrey;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    color: #14031f;
    background: #fefdff;
}

h1,
h1 > a {
    color: #35224b;
}

h2,
a,
mat-card-title {
    color: #62066e;
    padding: 5px;
}

a {
    text-decoration: none;
}

/* Container */

* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

app-root {
    display: flex;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    height: 100%;
}

/* Forms */

form {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    text-align: center;
}

button + p > a {
    color: rgb(150, 150, 150);
}

.mat-form-field {
    margin-bottom: 8px;
    width: 100%;
}

/* Nav bar */

nav {
    box-shadow: 0 0 7px 0 #00000024;
    border-bottom: 1px solid #e4e4e4;
}

.navbar-light .navbar-nav .nav-link,
nav {
    color: white;
}

.bg-light {
    background: linear-gradient(45deg, #26ab74, #b118ff);
}

.navbar-light .navbar-brand {
    color: #ffffff;
    font-weight: bold;
    transition: 0.5s all;
}

.navbar-light .navbar-brand:active,
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: white;
    transform: scale(1.05);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: white;
    text-decoration: underline dashed;
}
